<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <th:block th:include="~{/fragments/nav}"></th:block>

    </nav>
</header>
<main>

    <th:block th:if="${session.isEmpty()}">
        <h1 class="text-center text-dark">Something Went Wrong</h1>
        <hr class="hr-2 bg-dark ">
    </th:block>

    <th:block th:unless="${session.isEmpty()}">

    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Order</span></h1>
    <hr class="hr-3"/>
    <form class="mx-auto w-25 bg-dark p-3 rounded text-center"
          th:object="${orderAddBindingModel}" th:action="@{/orders/add}"  method="POST">
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="name" class="h4 mb-2">Name</label>
            </div>
            <input th:field="*{name}" th:errorclass="bg-danger" type="text" class="form-control" id="name" name="name" />
            <small th:each="e : ${#fields.errors('name')}" th:text="${e}" class="text-danger">Incorrect name!</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <input th:field="*{description}" th:errorclass="bg-danger" type="text" class="form-control" id="description" name="description"/>
            <small th:each="e : ${#fields.errors('description')}" th:text="${e}" class="text-danger">Incorrect description</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input th:field="*{price}" th:errorclass="bg-danger" type="number" class="form-control" id="price" name="price"/>
            <small th:each="e : ${#fields.errors('price')}" th:text="${e}" class="text-danger">Incorrect price!</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="manicure" class="h4 mb-2">Manicure</label>
            </div>
            <select class="browser-default custom-select" id="manicure" name="manicure">
                <option value="">Select service</option>
                <option th:each="o : ${T(studio.demo.model.entity.ManicureType).values()}"
                        th:text="${o}" th:value="${o}">Manicure</option>

            </select>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary text-white mb-3">Add Order</button>
        </div>
    </form>
    </th:block>

</main>
<footer class="footer bg-dark  py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
